<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{fontName}}</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<style>
		body {
			font-family: sans-serif;
			margin: 0;
			padding: 10px 20px;
      font-size: 16px;
		}

    div.table {
      display: table;
      width: 100%;
    }
    div.table .cell {
      display: table-cell;;
      vertical-align: middle;
    }

		{{{styles}}}
	</style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">{{fontName}}</div>
          <div class="panel-body">
            <div class="row">
              <form class="form-inline">
                {{#each names}}
                <div class="col-xs-12 col-sm-4 col-md-3">
                  <div class="table">
                    <div class="cell" style="width: 80px;">
                      <i class="{{../baseClass}} {{../classPrefix}}{{this}}"></i>
                    </div>
                    <div class="cell">
                      <code>{{this}}</code>
                    </div>
                  </div>
                </div>
                {{/each}}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-info">
          <div class="panel-heading">Helper classes</div>
          <div class="panel-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-4 col-md-3">
                  coisas
                </div>
                <div class="col-sm-4 col-md-3">
                  coisas
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
